<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h1>
    <p class="col-md-8 fs-4">
      <%= @friend.email %>
    </p>
    <p class="col-md-8 fs-4">
      <%= @friend.phone %>
    </p>
    <p class="col-md-8 fs-4">
      <%= @friend.twitter %>
    </p>
    <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-primary" %>
    <%= link_to 'Back', friends_path, class: "btn btn-primary" %>
  </div>
</div>


